.modal {
    display: flex;
    align-content: center;
    justify-content: center;
}
.modal__content {
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    place-items: center;
    transform: translateY(50%);
    width: 80%;
}

.modal__img {
    width: 150px;
}

.modal__description {
    color: #333;
}

.modal__link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #707070;
    font-weight: 500;
}

.modal__link:hover {
    color: #069c54;
    text-decoration: underline;
}
