.shopping-cart {
    margin: 5rem auto;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    border-bottom: 1px solid #e1e8ee;
    padding: 20px 30px;
    color: #5e6977;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.item {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.image img {
    width: 100px;
}

.description span {
    display: block;

    color: #43484d;
    font-weight: 400;
}

.quantity span {
    padding: 10px;
    color: #43484d;
    font-weight: 300;
}

.empty-cart {
    text-align: center;
}

.cart-button[class*="btn"] {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #069c54;
    color: white;
}

.cart-button:focus {
    outline: 0;
}
.total-price {
    font-size: small;
    color: #43484d;
    font-weight: 300;
}

@media screen and (min-width: 375px) {
    .shopping-cart {
        width: 80%;
        box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 723px) {
    .item {
        grid-template-columns: repeat(4, 1fr);
    }
}
