.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.grid {
    display: grid;
    column-gap: 2rem;
    row-gap: 4rem;
}

.section-services {
    padding: 3rem 0;
}
.section-services > h1 {
    text-align: center;
    font-size: 2.25rem;
}
.heading {
    justify-self: center;
    margin-bottom: 3rem;
}
.feature {
    display: grid;
}
ion-icon {
    color: white;
    height: 2.2rem;
    width: 2.2rem;
    background-color: #069c54;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
    border-radius: 50%;
    place-self: center;
    display: inline-block;
}

.feature-title {
    font-size: 1.8rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
    text-align: center;
}

.feature-text {
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: center;
}

@media screen and (min-width: 806px) {
    .grid--4-cols {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 542px) and (max-width: 806px) {
    .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}
